@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

// colors & Font Family
$body-background-color: #6495ed;
$body-font-family: Arial, Helvetica, sans-serif;
$headlines-color: white;
$headline-font: lora, serif;

body {
  font-family: $body-font-family;
  background-color: $body-background-color;
}
h1,
nav,
li {
  font-family: $headline-font;
  text-align: right;
  list-style-type: none;
  margin-right: 0.5rem;
  line-height: 28px;
}
h1 a:link {
  background-color: $headlines-color;
}
a:link {
  text-decoration: none;
}
main {
  background-color: $body-background-color;
}
article {
  background-color: white;
}
.post-date {
  color: darkgray;
}
.post-content a:link {
  color: black;
}
.post-content a:active {
  color: #deb887;
}
.post-content a:hover {
  background-color: antiquewhite;
}
