/* variables will follow*/
$break-small: 20em;
$break-medium: 30em;
$break-large: 50em;

// colors
$body-background-color: gray;
$form-background-color: white;
$input-color: white;
$headlines-color: white;

body {
  background-color: $body-background-color;
}
#contactform {
  background-color: $form-background-color;
  input,
  textarea {
    background-color: $input-color;
    flex: 2;
  }
  @media (min-width: $break-small) {
    & {
      width: 90%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: $break-large) {
    & {
      width: 70%;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@mixin center($width: 90%, $max-width) {
  width: $width;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
@mixin flex-container($axis, $wrap: nowrap) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: $axis $wrap;
  -ms-flex-flow: $axis $wrap;
  flex-flow: $axis $wrap;
}
@mixin breakpoint($break) {
  @if $break == large {
    @media (max-width: $break-large) {
      @content;
    }
  } @else if $break == medium {
    @media (max-width: $break-medium) {
      @content;
    }
  } @else if $break == small {
    @media (max-width: $break-small) {
      @content;
    }
  } @else {
    @media ($break) {
      @content;
    }
  }
}
